// Google fonts

// MAIN H1 TAG
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
@import url(https://fonts.googleapis.com/css?family=Sacramento);

// NAVIGATION LINKS
@import url(https://fonts.googleapis.com/css?family=Cabin);

// H2 TAGS
@import url(https://fonts.googleapis.com/css?family=Bitter);

// PARAGRAPHS
@import url(https://fonts.googleapis.com/css?family=Raleway);

//Wendy test
@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Shadows+Into+Light+Two|Covered+By+Your+Grace);

// black jack font

@font-face {
    font-family: 'black_jackregular';
    src: url('css/fonts/blackjack-webfont.eot');
    src: url('css/fonts/blackjack-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/blackjack-webfont.woff2') format('woff2'),
         url('css/fonts/blackjack-webfont.woff') format('woff'),
         url('css/fonts/blackjack-webfont.ttf') format('truetype'),
         url('css/fonts/blackjack-webfont.svg#black_jackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}