html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'great vibes';
}

h2 {
	font-size: 3em;
	font-family: 'bitter';
}

h3, p, li, a {
	font-family: 'cabin';
}

p {
	font-size: 1.5em;
	line-height: 1.6em;
}

a {
	text-decoration: none;
}