html, body {
	width: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'satisfy';
}

h2, h3, p, li, a {
	font-family: 'abel';
}

li, p {
	font-size: 1.3em;
}

p {
	line-height: 1.6em;
}

a {
	font-weight: 600;
	font-size: 1.1em;
}