.catagory-single {
	width: 750px;
	margin: 0 auto;
	padding: 4em 0;
	max-width: 90%;
	h3 {
		margin-top: 0;
		a {
			text-decoration: none;
		}
	}
	.date {
		display: inline-block;
		margin-bottom: 1em;
		font-size: 1.1em;
	}
	img {
		margin-bottom: 2em;
	}
}