/* Phaedra Color Pallet */

// WEBSITE COLORS

$orange: #ff5138;
$yellow: #ffff9d;
$lime-green: #beeb9f;
$light-green: #79bd8f;
$torquise: #00a388;

// SOCIAL LINK COLORS

$facebook: #4867AA;
$google: #4285F4;
$instagram: #A6765E;
$pinterest: #CB2027;
$twitter: #5EA9DD;
$youtube: #C33C2D;
$linkedin: #0274B3;
