// max-width: 375px


@media (max-width: 375px) {

	// hero banner

	.hero-banner h1 {
		margin-top: 0;
		font-size: 3em !important;
	}

	.hero-banner p {
		line-height: 19px;
	}

	// About Page
	.first-about-me .first h1 {
		font-size: 6.5em; 
	}
	.first-about-me .first p {
		font-size: 3.67em;
	}
}