// max-width: 768px;

@media (max-width: 820px) {

	// Login in pop up

	.login {
		padding: .3em 1.55em;
		.login-bar-menu {
			display: none;
		}
	}

	.login-pop-up {
		display: block;
		.btn-primary {
			border: 1px solid #ffffff;
			&:hover {
				background-color: transparent;
			}
			&:focus {
				background-color: transparent;
				outline: none;
			}
		}
		.modal-content {
			padding: 2em;
			background-image: url(img/crossword.png);
			#ewd-feup-login-form {
				flex-direction: column;
				.feup-pure-control-group {
					justify-content: flex-end;
				}
				.ewd-feup-login-label {
					color: $torquise;
				}
				.ewd-feup-text-input {
					padding: 15px 10px;
					border: 1px solid $torquise;
				}
				input[type="submit"] {
					border: 1px solid $torquise;
					transition: .3s ease-in-out;
					&:hover {
						color: #ffffff;
						background-color: $torquise;
					}
				}
			}
		}
	}

	// fixed nav 

	#fixedbar ul {
		margin-right: 0;
	}

	// main nav

	.main-nav ul {
		margin-right: 0;
		li {
			a {
				letter-spacing: 0;
			}
		}
	}

	// logo

	.main-img .main-logo div h1 {
		position: relative;
		width: 307px;
		margin-bottom: .05em;
	}
}

@media (max-width: 767px) {

	// about page

	.first-about-me .first h1 {
		font-size: 7em !important;
	}
	.first-about-me .first p {
		font-size: 4em;
	}

	.third-about-me .fifth p {
		font-size: 4em;
	}

	// Main Nav

	#menu-primary {
		display: flex;
		width: 100%;
		li {
			text-align: center;
		}
	}

	// Healthy Living Tips

	.recent-post .newest-recent-post {
   		img {
	    	width: 200px;
	    	height: 200px;
	    	margin-right: 2em;
	    	float: left;
	    }
	}

	.recent-post .older-recent-post .older-post-container {
		display: block;
		img {
			width: 200px;
	    	height: 200px;
	    	margin: 0 2em 0 0;
	    	float: left;
		}
	}

	// View All Post Anchor Tag

	.recent-post .view-all-post {
		margin-right: 2em;
	}

	.meal-post .view-all-post {
		margin: 1em 0 3em;
	}

	// About Page

	.quote .container p {
		text-align: center;
	}

	// Members Blog Page

	.archive-post section a img {
		margin-left: 1em;
	}

	// Affiliates image 

	.affiliate .affiliate-image img {
		margin-bottom: 2em;
	}

	.meal-post .recipe {
		display: block;
		img {
			width: 200px;
			height: 200px;
			float: left;
		}
	}
}