// max-width: 991px

@media (max-width: 1054px) {
	.main-img .main-logo div p {
		position: relative;
		width: 440px;
	}
}

@media (max-width: 991px) {

	.third-about-me .fifth p {
		font-size: 3.7vw;
	}

	.login {
		padding: 0;
		justify-content: center;
	}

	.btn-primary {
		background-color: transparent;
		border: none;
		text-align: right;
		&:hover {

		}
	}

	.fudge {
		display: none !important;
		opacity: 0;
	}
	
	// Healthy Living Tips

	.recent-post .older-recent-post .older-post-container {
		flex-direction: column;
		img {
			margin-bottom: 2em;
		}
	}

	.archive-post section a img {
		max-width: 200px !important;
	}
}