// max-width: 991px

@media (max-width: 1054px) {
	.main-img .main-logo div p {
		position: relative;
		width: 427px;
	}
}

@media (max-width: 991px) {

	.login {
		padding: 0;
		justify-content: center;
	}

	.btn-primary {
		background-color: transparent;
		border: none;
		text-align: right;
		&:hover {

		}
	}

	.fudge {
		display: none !important;
		opacity: 0;
	}
	
	// Healthy Living Tips

	.recent-post .older-recent-post .older-post-container {
		flex-direction: column;
		img {
			margin-bottom: 2em;
		}
	}
}