p {
	line-height: 30px;
}

.hero-image {
	height: 400px;
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(img/about-banner.JPG);
	background-size: cover;
	background-position: center;
	.container {
		display: flex;
		align-items: flex-end;
		height: 400px;
		h2 {
			font-size: 4em;			
			color: white;
			font-family: 'great vibes';
			letter-spacing: 1px;
		}
	}
}

.about-wendy {
	margin-bottom: 2em;
}

.first-about-me {
	margin-top: 4em;
	padding-top: 0;
	.first {
		h1 {
			font-family: 'bitter';
			font-size: 7em !important;
			margin: 0;
		}
		p {
			font-size: 3.9em;
			margin: .6em 0;
			&:first-of-type {
				margin-top: .3em;
			}
			&:last-of-type {
				color: $torquise;
			}
		}
	}
	.second {
		padding-left: 2em;
	}
}

.second-about-me {
	.third {

	}
	.fourth {
		background-image: url(img/wendy2.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
		//width: 350px;
		height: 350px;
	}
}

.quote {
	margin: 1em 0 1.5em;
	.container {
		p {
			font-size: 4.7em;
			font-family: 'sacramento';
			line-height: 60px;
			color: hsla(0, 0%, 45%, 1);
			span {
				font-size: 1.3em;
				font-weight: 900;
				color: transparentize($orange, .2);
			}
		}
	}
}

.third-about-me {
	padding-bottom: 0;
	.fifth {
		p {
			font-size: 3.9em;
			font-family: 'bitter';
			line-height: 44px;
			span {
				color: $torquise;
				font-weight: 600;
				letter-spacing: 1px;
			}
		}
	}
	.sixth {

	}
}

.random-things {
	margin-bottom: 4em;
	h2 {
		margin: 0 0 .5em 0;
		font-size: 3.4em;
	}
	ul {
		margin-left: 4em;
		li {
			list-style-type: disc;
			font-size: 1.5em;
			font-family: 'raleway';
			margin-bottom: .5em;
		}
	}
}

.bottom-hero-image {
	height: 300px;
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(img/about-baby.JPG);
	background-size: cover;
	background-position: center;
	.container {
		height: 300px;
		display: flex;
		align-items: center;
		p {
			color: white;
			font-size: 2em;
			line-height: 40px;
			margin: 0;
			a {
				color: white;
				text-decoration: none;
				font-size: 2em;
				font-family: 'bitter';
				transition: .2s ease-in-out;
				&:hover {
					color: $lime-green;
				}
			}	
		}
	}
}

