#buffer {
	padding: 1em 0 4em;
	border-top: 1px solid hsla(0, 0%, 90%, 1);
	border-bottom: 1px solid hsla(0, 0%, 90%, 1);
	h2 {
		text-align: center;
		margin-bottom: 1em;
	}
	#books {
		display: flex;
		justify-content: space-between;
		img {
			border: 6px solid transparent;
			transition: .5s ease-in-out;
			&:hover {
				border: 6px solid $orange;
			}
		}
	}
}