#forgot-password {
	width: 750px;
	margin: 0 auto;
	padding: 4em 0;
	max-width: 90%;
	.log-message {
		margin: 0 0 1em 2em;
	}
	label, input {
		font-size: 1.4em;
	}
	input[type="email"] {
		width: 65%;
	}
	h2 {
		font-weight: 600;
		margin-bottom: .8em;
	}
	a {
		font-size: 1.3em;
		&:hover {
			text-decoration: none;
		}
	}
}