#forgot-password {
  width: 750px;
  margin: 0 auto;
  padding: 4em 0;
  max-width: 90%;
}

#forgot-password .log-message {
  margin: 0 0 1em 2em;
}

#forgot-password label, #forgot-password input {
  font-size: 1.4em;
}

#forgot-password input[type="email"] {
  width: 65%;
}

#forgot-password h2 {
  font-weight: 600;
  margin-bottom: .8em;
}

#forgot-password a {
  font-size: 1.3em;
}

#forgot-password a:hover {
  text-decoration: none;
}
