.health {
	width: 750px;
	margin: 0 auto;
	padding-bottom: 4em;
	max-width: 90%;
	.health-title {
		padding-bottom: 2em;
		h2 {
			margin-bottom: .4em;
		}
		span {
			font-size: 1.3em;
		}
	}
	.health-img {
		img {
			margin-bottom: 2em;
		}
	}
}