/*
	  4.0 header
*/

/* Navigation Link */

.main-img {
   .main-logo {
      display: flex;
      align-items: flex-start;
      text-decoration: none;
      svg {
         transform: rotate(35deg);
      }
      h1 {
         span {
            color: $torquise;
         }
      }
   }
}

.main-nav {
   padding: 0;
   li {
      a {
         &:hover {
            background-color: transparent;
            color: red;
         }
      }
   }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   padding: 0;
}

.navbar-custom {
   margin-bottom: 0;
}

.navbar-default {
   border-radius: 0;
   background-color: #ffffff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, {
   color: red;
   background-color: transparent;
}

.navbar-toggle {
   border: 1px solid black;
   margin-right: 0;
   margin-bottom: 0;
   .icon-bar {
      border-top: 2px solid black;
   }
}

/* fixed navbar styling */

#fixedbar { 
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  border: none;
}
#fixednav { 
  display: block;
}
.hero-banner{
height:600px;
  background-image: url('https://www.dosomething.org/sites/default/files/styles/550x300/public/images/Healthy%20Living.jpg?itok=bXxB_uD3');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}



#ewd_feup_login_logout_toggle_widget-4{
  float:left;
  position:absolute;
  
}
.ewd-feup-widget-title{
  display:none;
}
