#menu-login-logout {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 0;
	li {
		margin-left: 1em;
		a {
			font-size: 1.3em;
			line-height: 38px;
			color: #ffffff;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.login {
	background-color: $torquise;
	padding: 0 3.55em;
	display: flex;
	justify-content: flex-end;
	#ewd-feup-login-form {
		display: flex;
		justify-content: flex-end;
		.feup-pure-control-group {
			display: flex;
			margin: 0;
			padding: 5px 0;
			.ewd-feup-field-label, .ewd-feup-login-label {
				width: 5.5em;
				color: #ffffff;
				padding: 0 10px 0 0;
				margin: 3px 0 0;
			}
			&:last-of-type {
				label {
					width: 0;
					padding: 0;
				}
			}
		}
		.ewd-feup-text-input {
			height: 27px;
			margin: 0;
			border-radius: 0;
			border: 1px solid #ffffff;
		}
		input[type="submit"] {
			height: 28px;
			padding: 0 13px;
			margin-left: 1em;
			background-color: #ffffff;
			color: $torquise;
			border-radius: 0;
			border: 1px solid transparent;
			transition: .3s ease-in-out;
			&:hover {
				border-color: $orange;
				color: $orange;
			}
		}
	}
}

// Login in pop up

.login-pop-up {
	display: none;
}