.meal-post {
	padding: 3em 0 5em;
	background-image: url(img/crossword.png);
	h2 {
		text-align: center;
		margin-bottom: 1em;
	}
	.recipe {
		display: flex;
		padding: 0 0 1em 0;
		margin-bottom: 1em;
		border-bottom: 1px dashed hsla(0, 0%, 80%, 1);
		&:last-of-type {
			border-bottom: none;
		}
		img {
			margin-right: 1em;
		}
		article {
			h3 {
				margin-top: 0;
			}
		}
	}
}