/* Navigation Link */

.main-img {
   .main-logo {
      text-decoration: none;
      svg {
         transform: rotate(35deg);
      }
      h1 {
      font-size: 3.5em;
      font-weight: 700;
      letter-spacing: 1px;
      display: inline-block;
      vertical-align: top;
      margin: 9px 0 0 5px;
         span {
            color: $torquise;
         }
      }
   }
}

.main-nav {
   padding: 0;
   ul {
      li {
         &:last-of-type a {
            background-color: $torquise;
            color: #ffffff;
            border-radius: 3px;
            transition: .4s ease-in-out;
            &:hover {
               background-color: $orange;
            }
         }
         a {
            text-transform: uppercase;
            font-family: 'cabin';
            font-size: 1.05em;
            letter-spacing: 1px;
            &:hover {
               background-color: transparent;
            }
         }
      }
   }
}

// Bootstrap Css

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   padding: 0;
}

.navbar-static-top {
   margin-bottom: 0;
}

.navbar-custom {
   margin-bottom: 0;
   padding: 9px 0;
}

.navbar-default {
   border-radius: 0;
   background-color: #ffffff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, {
   color: red;
   background-color: transparent;
}

.navbar-toggle {
   border: 1px solid black;
   margin-right: 0;
   margin-bottom: 0;
   .icon-bar {
      border-top: 2px solid black;
   }
}

/* fixed navbar styling */

#fixedbar { 
   display: none;
   position: fixed;
   z-index: 99;
   top: 0;
   width: 100%;
   border: none;
   border-bottom: 2px solid $torquise;
   ul {
      li {
         &:last-of-type a {
         background-color: $torquise;
         color: #ffffff;
         text-transform: uppercase;
         border-radius: 3px;
         transition: .4s ease-in-out;
            &:hover {
               background-color: $orange;
            }
         }
         a {
            text-transform: uppercase;
            font-family: 'cabin';
            font-size: 1.05em;
            letter-spacing: 1px;
            color: #000000;
         }
      }
   }
}

#fixednav { 
  display: block;
}