// Recent Post

.recent-post {
	padding: 3em 0;
	h2 {
		text-align: center;
		margin-bottom: 1em;
	}
	.view-article {
		color: $light-green;
	}
	.newest-recent-post {
		padding: 2em 0;
		img {
			height: 300px;
			margin-bottom: 2em;
		}
		p {

		}
	}
	.older-recent-post {
		border-bottom: 2px dotted $light-green;
		.older-post-container {
			display: flex;
			padding: 2.2em 0;
			img {
				height: 150px;
				margin-right: 2em;
			}
		}
	}
}