// Recent Post

.recent-post {
	padding: 3em 0;
	background-image: url(img/texture.jpg);
	h2 {
		text-align: center;
		font-size: 3.5em;
	}
	h3 {
		margin-top: 0;
	}
	.view-article {
		color: $orange;
		text-decoration: none;
	}
	img {
		box-shadow: 0 0 10px #000000;
	}
	.newest-recent-post {
		padding: 2em;
		img {
			margin-bottom: 2em;
		}
	}
	.older-recent-post {
		.older-post-container {
			display: flex;
			padding: 2em;
			img {
				margin-right: 2em;
				width: 175px;
				height: 175px;
			}
		}
	}
}